<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource auth="Container"
		description="Resource reference to a factory for java.sql.Connection instances that may be used for talking to a particular database that is configured in the server.xml file."
		name="jdbc/SampleDB" type="javax.sql.DataSource"
		driverClassName="oracle.jdbc.driver.OracleDriver"
		url="jdbc:oracle:thin:@cgmarw2k:1521:PRODIS" 
		username="HGC_DBA"
		password="admin" 
		maxIdle="4" 
		maxWaitMillis="5000"
		maxTotal="10" />
</Context>